@import '~bootstrap/scss/bootstrap';

.signInRow{
display: flex;
border: inset 2px pink;
align-content: left;
}


.h3Test{
    display: flex;
    border: inset 2px pink;
    align-content: left;
    }
    
