@import '~bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css2?family=Yusei+Magic&display=swap');


.signInRow{
display: flex;

justify-content: center;
font-family: 'Yusei Magic', sans-serif;
text-align: center;
margin: auto;
}

.container{
    display: flex;
    padding: 5vh;
    justify-content: center;
    // max-height: 100vh;
    box-sizing: border-box;
}

#email.form-control #password.form-control #passwordConfirmation.form-control{

    border: 1px solid rgb(221, 213, 213);
}

form{

    display: flex;
    font-size: 30px;
    font-family: 'Yusei Magic', sans-serif;
    -webkit-text-stroke: 1px rgb(238, 212, 212);
   display: inline-block;
   color: rgb(43, 14, 7);
   justify-content: center;
   border: outset 1px rgb(236, 225, 225);

}
form{
    display: flex;
   text-align: center;
    margin-bottom: 40px;
    font-family: 'Yusei Magic', sans-serif;
    // color: rgb(252, 0, 155);
    -webkit-text-stroke: 1px rgb(3, 3, 3);
   display: inline-block;
   justify-content: center;
   box-shadow: 0px 10px 25px 1px rgb(54, 20, 18);

}

h3{
    display: flex;
    max-height: 50px;
    text-align: center;
    justify-content: center;
    font-family: 'Yusei Magic', sans-serif;
    font-size: 40px;
   }

li {
    font-size: 24px;
    color: #999988;
    -webkit-text-stroke: 1px rgba(3, 3, 3, 0.95);
   }

<<<<<<< HEAD
.btn.btn-primary, button.submitBtn{
=======
.btn.btn-primary{
<<<<<<< HEAD
=======
.btn.btn-primary, button.submitBtn{
>>>>>>> 7a0f311 (Changes to create form formatting)
>>>>>>> d530e7a (Changes to create form formatting)
=======
>>>>>>> 3388e2b (Almost to V1 finished styling SignIn/Signup)
    display: flex;
   -webkit-text-stroke: 1px rgb(3, 3, 3);
   background-image:
   linear-gradient(90deg, rgb(255, 109, 199) 30px, white 30px),
   linear-gradient(90deg, white 30px,  rgb(255, 73, 185) 30px),
   linear-gradient(90deg,  rgb(218, 7, 137) 30px, white 30px);
background-position: 0 0, 0 30px, 0 60px;
background-repeat: repeat-x;
background-size: 60px 30px, 60px 30px, 60px 30px;
    font-size: 25px;
    border: 1px solid black;
    margin: 10px ;
}

.tester2{
    display: flex;
    text-align: center;
    justify-content: center;
}
