@import '~bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css2?family=Gorditas&display=swap');

.signInRow{
display: flex;
border: outset 1px rgb(0, 0, 0);
justify-content: center;
font-family: 'Gorditas', cursive;
text-align: center;
box-shadow: 0px 10px 25px 1px rgb(54, 20, 18);
margin: auto;
}

.container{
    display: flex;
    padding: 5vh;
    justify-content: center;
    // max-height: 100vh;
    box-sizing: border-box;
}
#email.form-control, #password.form-control, #passwordConfirmation.form-control{
    
    border: 1px solid black;
}
form, .form-label{
    display: flex; 
    font-family: 'Gorditas', cursive;
    // color: rgb(252, 0, 155);
    -webkit-text-stroke: 1px rgb(238, 212, 212);
//    font-size: 30px;
   display: inline-block;
   color: rgb(43, 14, 7);
   justify-content: center;

}
.form-group{
    display: flex;
   text-align: center;
    margin-bottom: 40px;
    font-family: 'Gorditas', cursive;
    // color: rgb(252, 0, 155);
    -webkit-text-stroke: 1px rgb(3, 3, 3);
   font-size: 30px;
   display: inline-block;
   justify-content: center;
}

.h3{
    display: flex;
    max-height: 50px;
    text-align: center;
    justify-content: center;
    font-family: 'Gorditas', cursive;
   }
.btn.btn-primary, button.submitBtn{
    display: flex;
   -webkit-text-stroke: 1px rgb(3, 3, 3);
   background-image:
   linear-gradient(90deg, rgb(255, 109, 199) 30px, white 30px),
   linear-gradient(90deg, white 30px,  rgb(255, 73, 185) 30px),
   linear-gradient(90deg,  rgb(218, 7, 137) 30px, white 30px);
background-position: 0 0, 0 30px, 0 60px;
background-repeat: repeat-x;
background-size: 60px 30px, 60px 30px, 60px 30px;
    font-size: 25px;
    border: 1px solid black;
    margin: 10px ;
}
.tester2{
    display: flex;
    text-align: center;
    justify-content: center;
}
    

    
