.contents{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#root {
  background-image:url(https://thumbs.dreamstime.com/t/wood-texture-background-brown-and-yellow-color-background-woodgrain-texture-180815201.jpg) ;
}
