@import '~bootstrap/scss/bootstrap';
@import url('https://fonts.googleap5is.com/css2?family=Gorditas&display=swap');

// .changeHead{
//     display: flex;
//     margin-top: -10px;
//     font-size: 30px;
//     font-family: 'Yusei Magic', sans-serif;
//     -webkit-text-stroke: 1px rgb(238, 212, 212);
//    color: rgb(43, 14, 7);
//    justify-content: center;
// }

.changePass, .form-group{
    display: flex;
    flex-direction: column;
    max-width: 78vh;
    margin: 10px 0px 0px 0px;
    min-width: 50vh;
}
// .changePass{
//     margin-top: 20vh;
// }
.passBtn.btn.btn-primary{
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;

}