.board {
 margin: 0 4px 0px -20px;
 border: 2px solid black;
  box-sizing: border-box;
  height: fit-content;

}
#root{
  box-shadow: inset 0px 0px 1000px 0px rgba(78, 32, 32, 0.863);
  height: 150vh;
  padding: 5px;

}
// .darkSquareStyle{
// background: black;
// }
// .lightSquareStyle{

// background: rgb(88, 0, 0);
// }
