@import '~bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css2?family=Hanalei+Fill&display=swap');



ul {
    display: flex;
    flex-direction: column;
    font-family: 'Hanalei Fill', cursive;
    box-shadow: 0px 10px 25px 1px rgb(54, 20, 18);
    align-content: left;
    justify-content: left;
}
