@import '~bootstrap/scss/bootstrap';

.testing {
display: flex; 
background-color: pink;
font-family: 'Cinzel', serif;
font-size: 50px;
// text-align: center;
// justify-content: center;
}

.rightDiv {
    font-size: 50px;
display: flex;
position: right;
text-align: right;
justify-content: right;
}