@import '~bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css2?family=Gorditas&display=swap');

.questions{
    display: flex;
    flex-direction: column;
    margin: 0px 8px;
    justify-content: left;
    text-align: left;
    height: fit-content;
    border: 1px solid rgb(78, 19, 19);
    box-shadow: inset 0px 0px 9px 0px rgba(2, 1, 1, 0.863);
}

h3{
  display: flex;
  font-family: 'Gorditas', cursive;
  color: rgb(48, 21, 3);
  -webkit-text-stroke: 1px rgb(235, 217, 217);
  text-align: center;
  
}


.beginner, .experienced, .advanced{
  display: flex;
  justify-content: left;
    font-family: 'Gorditas', cursive;
    font-size: 16px;
    border-top: 2px solid black;

}
