@import '~bootstrap/scss/bootstrap';

.questions{
  font-family: 'Potta One', cursive;
  display: flex;
  flex-direction: column;
  // max-width: 50%;
  margin-top: 15px;
  margin-left: 10px;
  margin-right: 10px;
  border: 1px solid #000;
}

h3{
  display: flex;
  font-family: 'Potta One', cursive;
  color: rgb(129, 0, 155);
  -webkit-text-stroke: 1px rgb(3, 3, 3);
  // height: 100px;
  // width: 500px;
  text-align: center;
}

.beginner, .experienced, .advanced{
  font-family: 'Potta One', cursive;
  display: flex;
  justify-content: left;
  text-align: center;
}
